In [1]:
import pandas as pd

In [8]:
tabla = pd.DataFrame(data={'anio':[1,2,3,4,5], 'rend':[-.15,-.20, .30,.20,.10]})
tabla

   anio  rend
0     1 -0.15
1     2 -0.20
2     3  0.30
3     4  0.20
4     5  0.10

In [11]:
#rendimiento medio geometrico
(1+tabla)*prod()**(1/5)

NameError: name 'prod' is not defined

In [6]:
ret = tabla.pct_change().dropna() #son equivalentes esto y el m√©todo anterior
ret.head()

       anio      rend
1  1.000000  0.333333
2  0.500000 -2.500000
3  0.333333 -0.333333
4  0.250000 -0.500000

In [7]:
ret.std()

anio    0.335927
rend    1.220959
dtype: float64