In [1]:
import pandas as pd

## Pregunta 1

In [2]:
tabla = pd.DataFrame({ 'rend':[-0.15, -0.2, 0.3, 0.2, 0.1]})
tabla

   rend
0 -0.15
1 -0.20
2  0.30
3  0.20
4  0.10

In [3]:
#rendimiento medio geometrico
(1+tabla).prod()**(1/5)-1

rend    0.031348
dtype: float64

## Pregunta 2

In [4]:
tabla

   rend
0 -0.15
1 -0.20
2  0.30
3  0.20
4  0.10

In [5]:
#rendimiento medio aritmético
tabla.mean()

rend    0.05
dtype: float64

## Pregunta 3

In [6]:
tabla

   rend
0 -0.15
1 -0.20
2  0.30
3  0.20
4  0.10

In [7]:
#desviación de los rendimientos 
tabla.std()

rend    0.217945
dtype: float64

## Pregunta 4

In [8]:
tablaa = pd.DataFrame({'ret':[-.10, 0.15, 0.30]})
tablaa

    ret
0 -0.10
1  0.15
2  0.30

In [9]:
#rendimiento medio geometrico
(1+tablaa).prod()**(1/3)-1

ret    0.10398
dtype: float64

## Pregunta 5

In [10]:
tabla2 = pd.DataFrame({'prob':[0.3, 0.4, 0.3], 'ret':[0.10, 0.05, 0.00]})
tabla2

   prob   ret
0   0.3  0.10
1   0.4  0.05
2   0.3  0.00

In [11]:
Er = (tabla2['prob'] * tabla2['ret']).sum()
Er

0.05

In [12]:
sr2 = (tabla2['prob'] * (tabla2['ret'] - Er)**2).sum()
sr2

0.0015000000000000002

In [13]:
# desviación estándar
sr = sr2**0.5
sr

0.03872983346207417

## Pregunta 6

In [14]:
tabla3 = pd.DataFrame({'ret':[-.10, 0.20, 0.30]})
tabla3

   ret
0 -0.1
1  0.2
2  0.3

In [15]:
#rendimiento medio aritmético
tabla3.mean()

ret    0.133333
dtype: float64